.cartItemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cartHeading {
        margin-bottom: 35px;
    }
}

.cartItem {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 30px 5px 5px;
    position: relative;
    text-align: center;
    a {
        height: 100px;
        img {
            height: 100%;
            border-radius: 10px;
            aspect-ratio: 3/2;
            object-fit: cover;
            cursor: pointer;
        }
    }
    >i {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }
    h2 {
        flex-basis: 40%;
    }
    .quantityContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 75px;
        i {
            font-size: 0.8rem;
            cursor: pointer;
        }
        div {
            height: 15px;
            font-size: 14px;
            display: flex;
            padding: 0 2px;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 1px solid black;
        }
    }
    .subTotalForOneItem {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-size: 1rem;
        font-weight: bolder;
    }
}

.shopNow {
    width: 100%;
    height: calc(100vh - 169px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopNowDialogue {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: hsl(102, 41%, 54%);
    color: white;
}
.shopNowDialogue:active {
    background-color: hsl(102, 41%, 44%);
}

.subtotalPrice {
    margin-top: 30px;
    width: 50%;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    padding: 20px 20px;
    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        font-weight: 800;
    }
    hr {
        margin-bottom: 10px;
    }
    .checkOutContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        button {
            width: 150px;
            height: 35px;
            color: white;
            border: none;
            background-color: hsl(102, 41%, 54%);
            cursor: pointer;
        }
        button:active {
            background-color: hsl(120, 41%, 44%);
        }
    }
}

.totalContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 808px) {
    .cartItem {
        width: 100%;
    }
    .subtotalPrice {
        width: 75%;
    }
}

@media screen and (max-width: 612px) {
    .Cart {
        .container {
            padding: 40px 20px;
        }
    }
}

@media screen and (max-width: 551px) {
    .Cart {
        .container {
            padding: 40px 10px;
            .subtotalPrice {
                width: 85%;
            }
            .cartItem {
                a {
                    height: 75px;
                }
                h2 {
                    flex-basis: 30%;
                    font-size: 16px;
                }
                .quantityContainer {
                    width: 60px;
                }
            }
        }
    }
}