.Home {
    min-height: calc(100vh - 169px);
    width: 100%;
    .container {
        min-height: calc(100vh - 169px);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .checkoutBtn {
        margin-top: 20px;
        width: 250px;
        align-self: center;
        text-align: center;
        height: 50px;
        border-radius: 25px;
        background-color: hsl(102, 41%, 54%);
        font-size: 1.1rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .checkoutBtn:active {
        background-color: hsl(102, 41%, 44%);
    }
    .Veg {
        display: flex;
        flex-direction: column;
        .heading {
            align-self: center;
            width: 225px;
            font-size: 2.5rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            div {
                bottom: 10px;
                right: 0;
                width: 20px;
                height: 20px;
                border: 1.5px solid green;
                display: flex;
                align-items: center;
                justify-content: center;
                div {
                    width: 12px;
                    height: 12px;
                    background-color: green;
                    border-radius: 6px;
                }
            }
            margin-bottom: 40px;
        }
        hr {
            margin-top: 20px;
        }
        margin-bottom: 40px;
    }
    .NonVeg {
        display: flex;
        flex-direction: column;
        .heading {
            align-self: center;
            width: 325px;
            font-size: 2.5rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            div {
                bottom: 10px;
                right: 0;
                width: 20px;
                height: 20px;
                border: 1.5px solid red;
                display: flex;
                align-items: center;
                justify-content: center;
                div {
                    width: 12px;
                    height: 12px;
                    background-color: red;
                    border-radius: 6px;
                }
            }
            margin-bottom: 40px;
        }
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 561px) {
    .Home {
        .container {
                .heading {
                    font-size: 28px;
                    font-weight: bold;
                }
        }
    }
}